<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>IYpora4B1GgGOa/3mK0LM9Tq0tY5KzB1hKIT34bFbuPz8n8aRbKk5YIxizOOP73jBD4X5ySz0VR5hGmk7lcpjvZvXsJa9c9IfYpDguKMKtoPniDKQ4Vh2k9l967uLHHdsvMYlkODXNRpk2t5W6CKDcoR+eBRDymkfMOyJW/zXbA=</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>r1A8744Tgap/yYqj2fL5IJOKhW2yu91+uUIsYRqW89xVaWHAZMwebo1fof/668+7Igv0gkagyeDJTCoovmvYiCnuybe40SWQQ5jlkg+tdH+y+/oAGoApbGEsnFTyRMKbpx+NqrrRXevieOr68HaYVd83PSlFuvW1y+lb8FQZriG2Rj0NgeKH0Gw6k9TN2zCvkiVdH322+xQ9gDipOpYjwTc99s1gB0HihRvCIQxxFyOmsL8f2mCFxnY8IAX7+aQfQA0LIZONaOZqaQ0C0tyEhqNfCUCq+1tPB6ogeEz2oWagxwWhiwK4HVh4elc3ZHxJox3f+d8Cp4CDvLuxuQWupVOWSzQChyP2yztpVieVFI5nPDxap+FWtzoyadjmqYfPjBqiSoYBZTSCUM1pKWPK4pVb8oVmIOLNU6Cg4K0MblRtQXmYXDQvEQw4C0SRqLuTA9zaJZ0Eno13hOy3XdF41mSDFsug8PHYPlbRn5ywrn653lsoMa1feT9E8QDO/uvn</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>